@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    28 Barn Green<br />
    Chelmsford<br />
    CM1 6UG<br />
    <abbr title="Phone">P:</abbr>
    07789 742144
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:chrisbrooksbank@gmail.com">chrisbrooksbank@gmail.com</a><br />
</address>